.dim-wadah:after{
	content: "";
	clear: both;
	display: table;
}
[class*="k-"], [class*="s-"], [class*="b-"]{
	float: left;
}
.k-1{
	width: 8.333333%;
}
.k-2{
	width: 16.66666%;
}
.k-3{
	width: 24.99999%;
}
.k-4{
	width: 33.33333%;
}
.k-5{
	width: 41.666666%;
}
.k-6{
	width: 49.99999%;
}
.k-7{
	width: 58.33333%;
}
.k-8{
	width: 66.66666%;
}
.k-9{
	width: 74.99999%;
}
.k-10{
	width: 83.33333%;
}
.k-11{
	width: 91.66666%;
}
.k-12{
	width: 99.99999%;
}
@media screen and (min-width: 600px){
	.s-1{
		width: 8.333333%;
	}
	.s-2{
		width: 16.66666%;
	}
	.s-3{
		width: 24.99999%;
	}
	.s-4{
		width: 33.33333%;
	}
	.s-5{
		width: 41.666666%;
	}
	.s-6{
		width: 49.99999%;
	}
	.s-7{
		width: 58.33333%;
	}
	.s-8{
		width: 66.66666%;
	}
	.s-9{
		width: 74.99999%;
	}
	.s-10{
		width: 83.33333%;
	}
	.s-11{
		width: 91.66666%;
	}
	.s-12{
		width: 99.99999%;
	}
}
@media screen and (min-width: 993px){
	.b-1{
		width: 8.333333%;
	}
	.b-2{
		width: 16.66666%;
	}
	.b-3{
		width: 24.99999%;
	}
	.b-4{
		width: 33.33333%;
	}
	.b-5{
		width: 41.666666%;
	}
	.b-6{
		width: 49.99999%;
	}
	.b-7{
		width: 58.33333%;
	}
	.b-8{
		width: 66.66666%;
	}
	.b-9{
		width: 74.99999%;
	}
	.b-10{
		width: 83.33333%;
	}
	.b-11{
		width: 91.66666%;
	}
	.b-12{
		width: 99.99999%;
	}
}