html{
	box-sizing: border-box;
	overflow-x: hidden;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
*, *:after, *:before{
	box-sizing: inherit;
}
body{
	margin: 0;
}
html, body{
	font-family: verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5; 
}
h1, h2, h3, h4, h5, h6{
	font-family: "Segoe UI", arial, sans-serif;
	font-weight: 400;
	margin: 10px 0; 
}
h1{
	font-size: 36px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 16px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	font-weight: inherit;
}
a{
	color: inherit;
	background-color: transparent;
	text-decoration: none;
}
a:hover, a:active{
	outline-width: 0;
}
img{
	border-style: none;
	margin-bottom: -5px;
}
input, button, select, textarea{
	font: inherit;
	margin: 0;
}